/*!
 * @preserve
 * Dank Mono (v1.000)
 * This font is subject to its EULA. https://dank.sh
 * © 2018–2020 Phil Plückthun. All Rights Reserved.
 */

@font-face {
  font-family: 'dm';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url(dm-400-subset.woff2) format('woff2'),
    url(dm-400-subset.woff) format('woff');
}

@font-face {
  font-family: 'dm';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src:
    url(dm-400-italic-subset.woff2) format('woff2'),
    url(dm-400-italic-subset.woff) format('woff');
}

@font-face {
  font-family: 'dm';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url(dm-700-subset.woff2) format('woff2'),
    url(dm-700-subset.woff) format('woff');
}
