/*!
 * @preserve
 * Dank Mono (v1.000)
 * This font is subject to its EULA. https://dank.sh
 * © 2018–2020 Phil Plückthun. All Rights Reserved.
 */

@font-face {
  font-family: 'dm';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(DankMono-Regular-subset.woff2) format('woff2'),
    url(DankMono-Regular-subset.woff) format('woff');
}

@font-face {
  font-family: 'dm';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url(DankMono-Italic-subset.woff2) format('woff2'),
    url(DankMono-Italic-subset.woff) format('woff');
}

@font-face {
  font-family: 'dm';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url(DankMono-Bold-subset.woff2) format('woff2'),
    url(DankMono-Bold-subset.woff) format('woff');
}
