@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/KantumruyPro-Thin-subset.woff2) format('woff2'),
    url(/fonts/KantumruyPro-Thin-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url(/fonts/KantumruyPro-ThinItalic-subset.woff2) format('woff2'),
    url(/fonts/KantumruyPro-ThinItalic-subset.woff) format('woff');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/KantumruyPro-ExtraLight-subset.woff2) format('woff2'),
    url(/fonts/KantumruyPro-ExtraLight-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url(/fonts/KantumruyPro-ExtraLightItalic-subset.woff2) format('woff2'),
    url(/fonts/KantumruyPro-ExtraLightItalic-subset.woff) format('woff');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/KantumruyPro-Light-subset.woff2) format('woff2'),
    url(/fonts/KantumruyPro-Light-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url(/fonts/KantumruyPro-LightItalic-subset.woff2) format('woff2'),
    url(/fonts/KantumruyPro-LightItalic-subset.woff) format('woff');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/KantumruyPro-Regular-subset.woff2) format('woff2'),
    url(/fonts/KantumruyPro-Regular-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(/fonts/KantumruyPro-Italic-subset.woff2) format('woff2'),
    url(/fonts/KantumruyPro-Italic-subset.woff) format('woff');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/KantumruyPro-Medium-subset.woff2) format('woff2'),
    url(/fonts/KantumruyPro-Medium-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url(/fonts/KantumruyPro-MediumItalic-subset.woff2) format('woff2'),
    url(/fonts/KantumruyPro-MediumItalic-subset.woff) format('woff');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/KantumruyPro-SemiBold-subset.woff2) format('woff2'),
    url(/fonts/KantumruyPro-SemiBold-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url(/fonts/KantumruyPro-SemiBoldItalic-subset.woff2) format('woff2'),
    url(/fonts/KantumruyPro-SemiBoldItalic-subset.woff) format('woff');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(/fonts/KantumruyPro-Bold-subset.woff2) format('woff2'),
    url(/fonts/KantumruyPro-Bold-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(/fonts/KantumruyPro-BoldItalic-subset.woff2) format('woff2'),
    url(/fonts/KantumruyPro-BoldItalic-subset.woff) format('woff');
}
