@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url(KantumruyPro-Thin-subset.woff2) format('woff2'),
    url(KantumruyPro-Thin-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro Fallback';
  font-weight: 100;
  font-style: normal;
  src: local('Arial');
  ascent-override: 96.24%;
  descent-override: 27.2%;
  line-gap-override: 0%;
  size-adjust: 95.6%;
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url(KantumruyPro-ThinItalic-subset.woff2) format('woff2'),
    url(KantumruyPro-ThinItalic-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro Fallback';
  font-weight: 100;
  font-style: italic;
  src: local('Arial Italic');
  ascent-override: 94.81%;
  descent-override: 26.79%;
  line-gap-override: 0%;
  size-adjust: 97.04%;
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url(KantumruyPro-ExtraLight-subset.woff2) format('woff2'),
    url(KantumruyPro-ExtraLight-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro Fallback';
  font-weight: 200;
  font-style: normal;
  src: local('Arial');
  ascent-override: 92.26%;
  descent-override: 26.07%;
  line-gap-override: 0%;
  size-adjust: 99.72%;
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url(KantumruyPro-ExtraLightItalic-subset.woff2) format('woff2'),
    url(KantumruyPro-ExtraLightItalic-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro Fallback';
  font-weight: 200;
  font-style: italic;
  src: local('Arial Italic');
  ascent-override: 91.28%;
  descent-override: 25.8%;
  line-gap-override: 0%;
  size-adjust: 100.79%;
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(KantumruyPro-Light-subset.woff2) format('woff2'),
    url(KantumruyPro-Light-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro Fallback';
  font-weight: 300;
  font-style: normal;
  src: local('Arial');
  ascent-override: 88.58%;
  descent-override: 25.03%;
  line-gap-override: 0%;
  size-adjust: 103.86%;
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url(KantumruyPro-LightItalic-subset.woff2) format('woff2'),
    url(KantumruyPro-LightItalic-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro Fallback';
  font-weight: 300;
  font-style: italic;
  src: local('Arial Italic');
  ascent-override: 87.97%;
  descent-override: 24.86%;
  line-gap-override: 0%;
  size-adjust: 104.58%;
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(KantumruyPro-Regular-subset.woff2) format('woff2'),
    url(KantumruyPro-Regular-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro Fallback';
  font-weight: 400;
  font-style: normal;
  src: local('Arial');
  ascent-override: 85.86%;
  descent-override: 24.26%;
  line-gap-override: 0%;
  size-adjust: 107.16%;
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(KantumruyPro-Italic-subset.woff2) format('woff2'),
    url(KantumruyPro-Italic-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro Fallback';
  font-weight: 400;
  font-style: italic;
  src: local('Arial Italic');
  ascent-override: 85.49%;
  descent-override: 24.16%;
  line-gap-override: 0%;
  size-adjust: 107.61%;
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(KantumruyPro-Medium-subset.woff2) format('woff2'),
    url(KantumruyPro-Medium-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro Fallback';
  font-weight: 500;
  font-style: normal;
  src: local('Arial');
  ascent-override: 84.41%;
  descent-override: 23.85%;
  line-gap-override: 0%;
  size-adjust: 108.99%;
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url(KantumruyPro-MediumItalic-subset.woff2) format('woff2'),
    url(KantumruyPro-MediumItalic-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro Fallback';
  font-weight: 500;
  font-style: italic;
  src: local('Arial Italic');
  ascent-override: 84.28%;
  descent-override: 23.82%;
  line-gap-override: 0%;
  size-adjust: 109.16%;
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(KantumruyPro-SemiBold-subset.woff2) format('woff2'),
    url(KantumruyPro-SemiBold-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro Fallback';
  font-weight: 600;
  font-style: normal;
  src: local('Arial Bold');
  ascent-override: 90.02%;
  descent-override: 25.44%;
  line-gap-override: 0%;
  size-adjust: 102.2%;
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url(KantumruyPro-SemiBoldItalic-subset.woff2) format('woff2'),
    url(KantumruyPro-SemiBoldItalic-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro Fallback';
  font-weight: 600;
  font-style: italic;
  src: local('Arial Bold Italic');
  ascent-override: 90.1%;
  descent-override: 25.46%;
  line-gap-override: 0%;
  size-adjust: 102.11%;
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(KantumruyPro-Bold-subset.woff2) format('woff2'),
    url(KantumruyPro-Bold-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro Fallback';
  font-weight: 700;
  font-style: normal;
  src: local('Arial Bold');
  ascent-override: 88.7%;
  descent-override: 25.07%;
  line-gap-override: 0%;
  size-adjust: 103.72%;
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(KantumruyPro-BoldItalic-subset.woff2) format('woff2'),
    url(KantumruyPro-BoldItalic-subset.woff) format('woff');
}
@font-face {
  font-family: 'Kantumruy Pro Fallback';
  font-weight: 700;
  font-style: italic;
  src: local('Arial Bold Italic');
  ascent-override: 88.97%;
  descent-override: 25.14%;
  line-gap-override: 0%;
  size-adjust: 103.41%;
}
