@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply flex min-h-full flex-col;
  }

  body {
    @apply text-base;
    @apply flex-1 subpixel-antialiased;
    font-feature-settings: 'kern';
  }

  code {
    font-variant-ligatures: no-common-ligatures;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply relative;
  }

  :is(h1, h2, h3, h4, h5, h6)[id] a[href^='#'] {
    @apply absolute top-1/2 h-6 w-6 -translate-x-7 -translate-y-1/2 opacity-0;
  }

  :is(h1, h2, h3, h4, h5, h6)[id]:hover a[href^='#'],
  :is(h1, h2, h3, h4, h5, h6)[id] a[href^='#']:focus {
    @apply opacity-100;
  }
}

@layer utilities {
  .focus-ring {
    @apply outline-none ring-blue-300 ring-offset-2 transition duration-200 focus-visible:ring;
  }

  .underlined {
    background: linear-gradient(to right, currentColor, currentColor),
      linear-gradient(
        to right,
        theme('colors.blue.500'),
        theme('colors.blue.500'),
        theme('colors.blue.500')
      );
    background-size: 100% 0.2em, 0 0.2em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }

  @media (prefers-reduced-motion: no-preference) {
    .underlined {
      transition: background-size 400ms theme('transitionTimingFunction.in-out');
    }
  }

  .underlined:hover,
  .underlined:focus-visible {
    background-size: 0 0.2em, 100% 0.2em;
  }
}
