@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: Kantumruy Pro, Kantumruy Pro Fallback;
    --font-mono: dm, dm Fallback;
  }

  .js:not(.fonts) {
    --font-sans: Kantumruy Pro Fallback;
    --font-mono: dm Fallback;
  }

  html,
  body {
    @apply flex min-h-full flex-col;
  }

  html:has(dialog[open]:modal) {
    @apply overflow-hidden;
    scrollbar-gutter: stable both-edges;
  }

  body {
    @apply text-base;
    @apply flex-1 subpixel-antialiased;
    font-feature-settings: 'kern';
  }

  code {
    font-variant-ligatures: no-common-ligatures;
  }
}

@layer utilities {
  .focus-ring {
    @apply outline-none ring-blue-300 ring-offset-2 transition duration-200 focus-visible:ring;
  }

  .underlined {
    background: linear-gradient(to right, #fbca07, #fbca07),
      linear-gradient(
        to right,
        theme('colors.blue.500'),
        theme('colors.blue.500'),
        theme('colors.blue.500')
      );
    background-size: 100% 0.2em, 0 0.2em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }

  @media (prefers-reduced-motion: no-preference) {
    .underlined {
      transition: background-size 400ms theme('transitionTimingFunction.in-out');
    }
  }

  .underlined:hover,
  .underlined:focus-visible {
    background-size: 0 0.2em, 100% 0.2em;
  }
}
