@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply flex min-h-full flex-col;
  }

  body {
    @apply flex-1 subpixel-antialiased;
    font-feature-settings: 'kern';
  }

  code {
    font-variant-ligatures: no-common-ligatures;
  }
}

@layer utilities {
  .focus-ring {
    @apply outline-none ring-blue-300 ring-offset-2 transition duration-200 hover:ring focus-visible:ring;
  }

  .underlined {
    background: linear-gradient(to right, currentColor, currentColor),
      linear-gradient(
        to right,
        theme('colors.blue.500'),
        theme('colors.blue.500'),
        theme('colors.blue.500')
      );
    background-size: 100% 0.2em, 0 0.2em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    margin-bottom: -0.2em;
    padding-bottom: 0.2em;
  }

  @media (prefers-reduced-motion: no-preference) {
    .underlined {
      transition: background-size 400ms theme('transitionTimingFunction.in-out');
    }
  }

  .underlined:hover,
  .underlined:focus {
    background-size: 0 0.2em, 100% 0.2em;
  }
}
