@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url(./kantumruy-pro-100.ttf) format('ttf');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url(./kantumruy-pro-100-italic.ttf) format('ttf');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url(./kantumruy-pro-200.ttf) format('ttf');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url(./kantumruy-pro-200-italic.ttf) format('ttf');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(./kantumruy-pro-300.ttf) format('ttf');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url(./kantumruy-pro-300-italic.ttf) format('ttf');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(./kantumruy-pro-400.ttf) format('ttf');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(./kantumruy-pro-400-italic.ttf) format('ttf');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(./kantumruy-pro-500.ttf) format('ttf');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url(./kantumruy-pro-500-italic.ttf) format('ttf');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(./kantumruy-pro-600.ttf) format('ttf');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url(./kantumruy-pro-600-italic.ttf) format('ttf');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(./kantumruy-pro-700.ttf) format('ttf');
}

@font-face {
  font-family: 'Kantumruy Pro';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(./kantumruy-pro-700-italic.ttf) format('ttf');
}
